[Unit]
Description=cAdvisor
Requires=egress.network
After=egress.network

[Container]
ContainerName=cadvisor-agent
Image=localhost/cadvisor-agent:latest

# Egress network
Network=egress-network

EnvironmentFile=%h/configuration/secrets/cadvisor.env

Volume=/run/user/%U/podman/podman.sock:/var/run/docker.sock:rw

[Install]
WantedBy=default.target
